.topic {
  padding: 0 24px;
  background-color: var(--color-white);
}

.topic--title {
  width: 100%;
  background: none;
  border: 0 none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-weight: 600;
  font-size: var(--font-text-size);
  color: var(--color-font-primary);
  text-align: left;
  padding: 22px 0;
  cursor: pointer;
  transition: .2s ease-in;
}

.topic--title:hover {
  color: var(--color-highlight);
}

.topic--title:focus {
  color: var(--color-highlight);
}

.topic--title-icon {
  display: block;
  height: 24px;
  width: 24px;
  flex: 0 0 auto;
  border-radius: 50%;
  background: url('../../../../public/images/icon-plus.svg') center/100% no-repeat;
}

.icon-plus {
  background-image: url('../../../../public/images/icon-plus.svg');
}

.icon-minus {
  background-image: url('../../../../public/images/icon-minus.svg');
}

.topic--text {
  color: var(--color-font-secondary);
  font-size: var(--font-text-size);
  padding: 6px 0 22px;
}

.topic--span {
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--color-font-secondary);
  opacity: .3;
}